
$white:#fff;
$strock:#f3f3f3;
$perple:#a3a3ff;

.login{
	background:url(../images/login_bg.png) no-repeat bottom center $white;
	box-shadow:5px 10px 13px #dcdcdc;
	border-radius:15px;
	margin-top: 8%;
	padding: 50px;
	font-size: 14px;

	.logo{
		text-align: center;

		img{
			height: 33px;
			margin-bottom: 30px;
		}
	}

	.block{
		margin-top: 10px;
		margin-bottom: 5px;

		@mixin input(){
			width: 100%;
			height: 45px;
			border-radius:5px;
			border:1px solid $strock;
			text-indent: 15px;
		}

		input[type=text]{
			@include input();
		}

		input[type=password]{
			@include input();
		}

		span{
			color: $perple;
			text-align: right;
			display: block;
			float: right;
		}

		input[type=checkbox]{
			border:1px solid $strock;
		}

		button{
			background:$perple;
			color: $white;
			border-radius:5px;
			width: 100%;
			height: 45px;
			border:none;
			margin-top: 30px;
		}
	}
}