
$white:#fff;
$gray:#ccc;
$black:#000;


.screen{
	margin-top: 20px;
	box-shadow:0px 0px 5px $gray;
	background: $white;
	padding: 0px 0px 30px 0px;
	color: #888282;

	h2{
		font-weight: 700;
		margin: 15px 15px 0px 15px;
		color: $black;
	}

	h4{
		font-weight: 600;
		margin: 5px 15px;
		color: $black;
	}

	p{
		margin: 15px;
		text-align: justify;
		color: #888282;
	}

	ol{
		margin-left: -5px;

		li{
			line-height: 24px;
		}
	}

	ul{
		margin-left: -5px;

		li{
			line-height: 24px;
		}
	}

	.video{
		margin: 25px 0px;
	}

	.image_post{
		margin: 10px 0px;
	}

	.gif_post{
		margin: 10px 0px;
	}

	.price{
		color: $black;
		font-size: 24px;
		font-weight: 700;
		margin: 15px;
	}

	.btn{
		width: 100%;

		button{
			width: 100%;
			float: right;
			border:none;
			background:$black;
			color: $white;
			height: 40px;
			border-radius:5px;
		}
	}

	.checkbox{
		margin: 15px 15px 0px 15px;
	}

	.btn{
		width: 100%;
		padding:15px 15px 0px 15px;

		button{
			width: 100%;
			float: right;
			border:none;
			background:$black;
			color: $white;
			height: 40px;
			border-radius:5px;
		}
	}

	.btn2{
		width: 100%;
		padding:15px;

		button{
			width: 48%;
			float: right;
			border:none;
			background:$black;
			color: $white;
			height: 40px;
			border-radius:5px;
			margin: 1%;
		}
	}

	.table{
		margin: 25px 5%;
		width: 90%;

		th{
			background:$black;
			color: $white;
			text-align: center;
		}

		td{
			text-align: center;
		}
	}

	.author{
		padding:15px;

		img{
			border-radius:50%;
		}

		h4{
			padding:0px;
			font-weight: 700;
			color: $black;
			font-size: 24px;
			margin: 10px 0px 0px 0px;
		}
	}
}
