@import "login.scss";
@import "font.scss";
@import "preview.scss";

$main_bg:#f4f5f9;
$text_color:#888888;
$purple:#a3a3ff;
$body_text:15px;
$font-theme:"SF Display", sans-serif;
$white:#ffffff;
$black:#000;
$inner_bg:#fcfbfb;
$shadow:#dcdcdc;
$strock:#dbdbdb;

body{
	background:url(../images/bg.png) center bottom no-repeat $main_bg;
	background-size:cover;
	color: $text_color;
	font-family: $font-theme;
	font-size: $body_text;
	margin: 0px;
	padding: 0px 0px 100px 0px;
	min-height: 100vh;

}

a ,
a:hover{
	text-decoration: none;
}

.header{
	background:$white;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	z-index: 9999;

	.logo{
		padding-top:20px;
	}

	@mixin header_right(){
		display: inline-block;
		float: right;
	}

	.logout{
		@include header_right();
		margin-top: 25px;
	}

	.user_details{
		@include header_right();
		margin-top: 15px;
		margin-right: 25px;
		font-size: 14px;

		span{
			font-size: 18px;
			font-weight: 700;
			display: block;
			margin-top: -5px;
		}
	}

	.user{
		@include header_right();
		margin-top: 12px;
		margin-right: 15px;

		img{
			border-radius:50%;
			box-shadow:0px 2px 5px #eaeaea;
		}
	}
}

.content{
	margin-top: 130px;

	h5{
		color: $black;
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 5px;
	}
}

.home_card{
	
	div{
		background:url(../images/card_bg.png) no-repeat top center $inner_bg;
		background-size:contain;
		border-radius:15px;
		box-shadow:5px 10px 13px #cecdcd;
		text-align: center;
		transition: transform .2s;
		z-index: 9999;

		img{
			// height: 120px;
			width: 160px;
			margin: 70px auto 0px auto;
		}

		h5{
			color: $black;
			font-weight: 700;
			text-align: center;
			font-size: 24px;
			line-height: 30px;
			padding:40px 0px 30px 0px;
		} 

	}

	div:hover{
		transform: scale(1.05);
		cursor: pointer;
	}

}

.main_block{
	background:$white;
	border-radius:10px;
	box-shadow:5px 10px 13px $shadow;
	padding:25px 30px 40px 30px;
	position:relative;
	margin-bottom: 20px;

	h4{
		color: $black;
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 5px;
		// border-bottom: 1px solid $strock;
		// padding-bottom: 7px;
	}

	.block{
		margin-top: 15px;

		@mixin input(){
			width: 100%;
			border:1px solid $strock;
			border-radius:5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-indent: 14px;
		}

		input[type=text]{
			height: 40px;
			@include input();
		}

		textarea{
			height: 120px;
			min-height: 120px;
			max-height: 120px;
			@include input();
		}

		button{
			background:$purple;
			color: $white;
			float: right;
			border:none;
			border-radius:5px;
			padding:8px 15px;
			min-width: 150px;
		}

		input[type=file]{
			@include input();
			height: 40px;
			width: 85%;
			display: block;
			text-align: right;
			padding-top: 7px;
			padding-right: 15px;
		}

		span{
			width: 10%;
			height: auto;
			display: inline-block;
			float: right;
			margin-top: -10%;

			img{
				border-radius:5px;
			}
		}

		select{
			@include input();
			height: 40px;
		}

		input[type=number]{
			@include input();
			height: 40px;
		}

		label{
			padding-top: 10px;
			margin-left: 5px;
		}

		strong{
			color: #f44747;
			float: right;
		}

		.btn-group{
			width: 100%;
			margin-left: -5px;
			margin-top: 5px;
			height: 45px;
		}

		.btn-secondary:not(:disabled):not(.disabled).active, 
		.btn-secondary:not(:disabled):not(.disabled):active, 
		.show > .btn-secondary.dropdown-toggle {
    		color: #fff;
			background-color: $purple;
			border-color: $purple;
		}

		.btn-secondary {
    		color: #fff;
			background-color: #d8d8fa;
			border-color: #d8d8fa;
		}

	}

	.close{
		width: 30px;
		height: 30px;
		position:absolute;
		right: -8px;
		top: -8px;
	}
}


.sidebar{
	margin-top: -25px;
	// height: 100vh;
	// min-height: 900px;
	position:fixed;
	overflow-y: scroll;
	// padding-bottom: 100px;
	bottom:0;
	top:130px;

	button{
		background:$purple;
		color: $white;
		border-radius:5px;
		padding:8px 15px;
		width: 100%;
		border:none;
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.templates{
	margin-top: -25px;
	height: 100vh;
	position:absolute;
	right: 0;
}


.footer_btn{

	button{
	background:$purple;
	color: $white;
	border-radius:5px;
	padding:8px 15px;;
	border:none;
	font-size: 16px;
	margin-bottom: 10px;
	float: right;
	min-width:100px;
	margin-left: 10px;
	}
}



.modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;

    .modal-header h4{
    	color: $black;
    	font-weight: 700;
		font-size: 22px;
		margin-bottom: 5px;
    }

    .modal-body{

    	.img-tile div{
    		margin-bottom: 15px;
    		//border:1px solid #ccc;
    		text-align: center;
    		box-shadow:0px 0px 3px #ccc;

    		img{
    			width: 100%;
    			height: 20vh;
    		}
    	}

    	.img-tile div:hover{
    		border:2px solid $purple;
    		cursor: pointer;
    		background:#eee;
    	}

    	input[type=search]{
    		width: 100%;
    		height: 40px;
    		border:1px solid $strock;
			border-radius:5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-indent: 14px;
    	}

    	.tag_row{
    		margin:5px 0px;
    		background:#eaeaff;
    		padding:15px;
    		border-radius:4px;
    		position:relative;
    		color: #6f6d6d;
    		font-weight: 500;

    		span{
    			position:absolute;
    			top: 10px;
    			right: 10px;
    			background:#ff172d;
    			padding:5px 10px;
    			border-radius:50%;
    			color: $white;
    			cursor: pointer;
    			opacity: 0.7;
    		}

    		span:hover{
    			opacity: 1;
    		}
    	}

    }

    .modal-footer{
    	button{
			background:$purple;
			color: $white;
			border-radius:5px;
			padding:8px 15px;;
			border:none;
			font-size: 16px;
			margin-bottom: 10px;
			float: right;
			min-width:100px;
			margin-left: 10px;
		}
    }
}


.img-tile{
	text-align: center;
	
	div{
		// background:$white;
		padding:15px 15px;
		margin: 15px 0px;
		border:1px solid $shadow;
		position:relative;

		img{
			width: 100%;
			height: 30vh;
		}

		span{
			width: 28px;
			height: 28px;
			position:absolute;
			top:-10px;
			right: -10px;
			opacity: 0.3;

			img{
				width: 100%;
				height: 100%;
				box-shadow: 0px 0px 2px red;
				border-radius: 50%;
			}
		}

		span:hover{
			opacity: 1;
		}

		p{
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}

	div:hover{
		border:1px solid $purple;
		background:$shadow;
		cursor: pointer;
	}

}

.img_upload{
	margin-top: 30px;
	background:$white;
	border-radius:10px;
	box-shadow:5px 10px 13px $shadow;
	padding:40px 30px 40px 30px;
	position:relative;
	margin-bottom: 20px;

	input[type=file]{
		width: 100%;
		border:1px solid $strock;
		border-radius:5px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 14px;
		height: 45px;
		padding:10px;
	}

	button{
		background:$purple;
		color: $white;
		border-radius:5px;
		padding:8px 15px;;
		border:none;
		font-size: 16px;
		margin-bottom: 10px;
		float: right;
		width:100%;
		margin-left: 10px;
		margin-top: 7px;
	}
}

.select_div{
	border:2px solid $purple;
	background:#eee;
	box-shadow:0px 0px 3px $purple;
}

.modal-content{
	border:none;
	box-shadow:0px 0px 2px $shadow;
}

table{
	margin-top: 20px;
	border:1px solid #eee;
	color:#7d7e80 !important;
	font-weight: 400;

	thead{
		background:$purple;
		color: $white;
		text-align: left;
		font-size: 16px;

		th{
			padding:10px;
		}
	}

	tbody{
		td{
			padding:15px;
		}
	}
}


.search{
	margin-bottom:15px;

	input[type=search]{
		width: 100%;
		height: 45px;
		border:1px solid $strock;
		border-radius:5px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 14px;
		background:url(../images/search.png) no-repeat right center #fff;
	} 
}

.program_tile div{
	border-radius:15px;
	box-shadow:5px 10px 13px #cecdcd;
	background:$white;
	min-height: 250px;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	
}

.create_new div{
	text-align: center;
	transition: transform .2s;

		img{
			width: 30%;
			margin-top: 35%;
		}

		h3{
		text-align: center;
		font-weight: 700;
		color: $black;
		font-size: 24px;
		padding-top: 20px;
		display: block;
		}
}

.create_new div:hover{
	background:#eee;
	transform: scale(1.1);
}


.past_programs div{
	position:relative;
	background:url(../images/program.png) no-repeat center center;
	background-size:contain;

	h4{
		font-weight: 700;
		color: $black;
		font-size: 24px;
		padding-top: 20px;
		display: block;
		margin-left: 15px;
	}

	span{
		position:absolute;
		bottom:10px;
		right: 15px;
		color: $black;
	}

}


.past_programs div:hover{
	background-color:#eee;
}


.create_program{
	background:rgba(255,255,255,0.7);
	padding:30px 30px;
	border-radius:10px;

	label{
		margin-top: 10px;
		margin-bottom: 4px;
	}

	@mixin input(){
		width: 100%;
		border:1px solid $strock;
		border-radius:5px;
		margin-top: 0px;
		margin-bottom: 5px;
		text-indent: 14px;
	}

	input[type=text]{
		@include input();
		height: 40px;
	}

	input[type=file]{
		@include input();
		height: 40px;
		padding-top:7px;
	}


	select{
		@include input();

	}

	span{
		border:1px solid $strock;
		display: inline-block;
		background:#eee;
		margin-top: 15px;
		width: 100%;
		height: 70px;
		text-align: center;
		border-radius:5px;
		vertical-align: middle;
	}

	button{
		background:$purple;
		color: $white;
		border-radius:5px;
		padding:8px 15px;;
		border:none;
		font-size: 16px;
		margin-bottom: 10px;
		float: right;
		width:120px;
		margin-left: 10px;
		margin-top: 20px;
	}
}



.program{
	background:rgba(255,255,255,0.6);
	padding:30px 30px;
	border-radius:10px;

	a{
		color: $text_color;
		text-decoration: none;
	}

	span{
		display: inline-block;
		width: 40px;
		height: 50px;
		float: right;
		margin: 0px 10px 15px 10px;
		text-align: center;
	}

	label{
		display: block;
		font-size: 16px;
		color: $purple;
		font-weight: 500;
		margin-bottom: 20px;
	}

	.btn-warning:not(:disabled):not(.disabled).active, 
	.btn-warning:not(:disabled):not(.disabled):active, 
	.show > .btn-warning.dropdown-toggle {
    	color: #fff;
		background-color:$purple;
		border-color: $purple;
	}

	.btn-warning {
    	color: #fff;
    	background-color: #c4c4f0;
    	border-color:#cecefd;
	}


	button{
		background:$purple;
		color: $white;
		border-radius:5px;
		padding:8px 15px;;
		border:none;
		font-size: 16px;
		margin-bottom: 10px;
		float: left;
		width:150px;
		margin-left: 0px;
		margin-top: 50px;
	}

}




.program_table{
	// background:rgba(255,255,255,0.7);
	padding: 0px 0px 0px 0px;
	margin: 15px 0px;
	border-radius:5px;
	width: 200%;
	// overflow-x:scroll;

	table{
		position:relative;

		thead{
			// position:fixed;
			// width: 200% !important;
			// left: 0;
			// right: 0;
			// top:100px;

			th{
				text-align: center;
				background:$purple;
			}

		}

		td{
			padding: 5px 15px;

			select{
				width: 200px;
				height: 40px;
				text-indent: 5px;
				border-radius:4px;
				border:1px solid $strock;
				margin-top: 15px;
			}

			textarea{
				width: 300px;
				min-height: 100px;
				border-radius:4px;
				border:1px solid $strock;
				padding:5px;
			}

			@mixin button(){
				width: 40px;
				height: 40px;
				border-radius:20%;
				border:none;
				display: inline-block;
				margin: 5px 0px 5px 5px;
				color: $white;
				float: right;
				padding:5px;
			}

			button{
				@include button();
				cursor: pointer;
				font-size: 18px;
			}

			.btn-success{
				background:#28a745;
			}

			.btn-info{
				background:#138496;
			}

			.btn-danger{
				background:#c82333;
			}

			
		}

		tr:nth-child(even) {
			background: #dbdbfb;
		}
		tr:nth-child(odd) {
			background: rgba(255,255,255,0.6);
		}
	}

}


.content{

	button{
			background:$purple;
			color: $white;
			border-radius:5px;
			padding:8px 15px;;
			border:none;
			font-size: 16px;
			margin-bottom: 10px;
			float: right;
			width:150px;
			margin-right: 0px;
			margin-top: 10px;

	}

}


.quiz{
	background: rgba(255,255,255,0.7);
	padding:15px;
	border-radius:10px;

	h3{
		color: $purple;
		margin-bottom: 20px;
		margin-top: 10px;
		margin-left: 15px;
	}

	.btn-group{
			width: 100%;
			margin-left: -5px;
			margin-top: 5px;
			height: 40px;
	}

	.btn-secondary:not(:disabled):not(.disabled).active, 
	.btn-secondary:not(:disabled):not(.disabled):active, 
	.show > .btn-secondary.dropdown-toggle {
		color: #fff;
		background-color: $purple;
		border-color: $purple;
	}

	.btn-secondary {
		color: #fff;
		background-color: #d8d8fa;
		border-color: #d8d8fa;
	}

	input[type=file]{
		width: 100%;
		border:1px solid $strock;
		border-radius:5px;
		margin-top:0px;
		margin-bottom: 5px;
		text-indent: 14px;
		height: 40px;
		padding-top: 7px;
	}
}


.create_quiz{
	button{
		border:none;
		border-radius:5px;
		padding:5px 10px 3px 10px;
		float: right;
		margin: 5px 5px;
	}
}

.create_quiz_btn{
	a , a:hover{
		background:$purple;
			color: $white;
			border-radius:5px;
			padding:12px 15px;;
			border:none;
			font-size: 16px;
			margin-bottom: 0px;
			float: left;
			width:200px;
			margin-right: 0px;
			margin-top: 0px;
	}

}


.new_quiz{
	background:rgba(255,255,255,0.8);

	input[type=number] , input[type=text]{
		width: 100%;
		border:1px solid $strock;
		border-radius:5px;
		margin-top:0px;
		margin-bottom: 5px;
		text-indent: 14px;
		height: 40px;
		padding-top:0px;
	}

	input[type=file]{
		width: 100%;
		border:1px solid $strock;
		border-radius:5px;
		margin-top:0px;
		margin-bottom: 5px;
		text-indent: 14px;
		height: 40px;
		padding-top:8px;
		background:#fff;
	}

	.block{
		margin-bottom: 10px;
	}

	button{
		float: left;
	}
}

.quiz_table{
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
	padding:15px;

	h3{
		color: $purple;
		margin-bottom: 20px;
		margin-top: 10px;
		margin-left: 15px;
	}

	button{
		border:none;
		border-radius:5px;
		padding:5px 10px 3px 10px;
		float: right;
		margin: 5px 5px;
		width: 35px;
	}
}


.dataTables_wrapper{

	@mixin data_input(){
		height: 40px;
		border:1px solid $strock;
	}

	select{
		@include data_input();
		width: 100px;
	}

	input[type=search]{
		@include data_input();
		text-indent: 10px;
	}
}


// .table-fixed tbody {
//     height: 300px;
//     overflow-y: auto;
//     width: 200%;
// }

// .table-fixed thead,
// .table-fixed tbody,
// .table-fixed tr,
// .table-fixed td,
// .table-fixed th {
//     display: block;
// }

// .table-fixed tbody td,
// .table-fixed tbody th,
// .table-fixed thead > tr > th {
//     float: left;
//     position: relative;

//     &::after {
//         content: '';
//         clear: both;
//         display: block;
//     }
// }