.login {
  background: url(../images/login_bg.png) no-repeat bottom center #fff;
  box-shadow: 5px 10px 13px #dcdcdc;
  border-radius: 15px;
  margin-top: 8%;
  padding: 50px;
  font-size: 14px; }
  .login .logo {
    text-align: center; }
    .login .logo img {
      height: 33px;
      margin-bottom: 30px; }
  .login .block {
    margin-top: 10px;
    margin-bottom: 5px; }
    .login .block input[type=text] {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      text-indent: 15px; }
    .login .block input[type=password] {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      text-indent: 15px; }
    .login .block span {
      color: #a3a3ff;
      text-align: right;
      display: block;
      float: right; }
    .login .block input[type=checkbox] {
      border: 1px solid #f3f3f3; }
    .login .block button {
      background: #a3a3ff;
      color: #fff;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      border: none;
      margin-top: 30px; }

/*# sourceMappingURL=login.css.map */
