.screen {
  margin-top: 20px;
  box-shadow: 0px 0px 5px #ccc;
  background: #fff;
  padding: 0px 0px 30px 0px;
  color: #888282; }
  .screen h2 {
    font-weight: 700;
    margin: 15px 15px 0px 15px;
    color: #000; }
  .screen h4 {
    font-weight: 600;
    margin: 5px 15px;
    color: #000; }
  .screen p {
    margin: 15px;
    text-align: justify;
    color: #888282; }
  .screen ol {
    margin-left: -5px; }
    .screen ol li {
      line-height: 24px; }
  .screen ul {
    margin-left: -5px; }
    .screen ul li {
      line-height: 24px; }
  .screen .video {
    margin: 25px 0px; }
  .screen .image_post {
    margin: 10px 0px; }
  .screen .gif_post {
    margin: 10px 0px; }
  .screen .price {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 15px; }
  .screen .btn {
    width: 100%; }
    .screen .btn button {
      width: 100%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px; }
  .screen .checkbox {
    margin: 15px 15px 0px 15px; }
  .screen .btn {
    width: 100%;
    padding: 15px 15px 0px 15px; }
    .screen .btn button {
      width: 100%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px; }
  .screen .btn2 {
    width: 100%;
    padding: 15px; }
    .screen .btn2 button {
      width: 48%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px;
      margin: 1%; }
  .screen .table {
    margin: 25px 5%;
    width: 90%; }
    .screen .table th {
      background: #000;
      color: #fff;
      text-align: center; }
    .screen .table td {
      text-align: center; }
  .screen .author {
    padding: 15px; }
    .screen .author img {
      border-radius: 50%; }
    .screen .author h4 {
      padding: 0px;
      font-weight: 700;
      color: #000;
      font-size: 24px;
      margin: 10px 0px 0px 0px; }

/*# sourceMappingURL=preview.css.map */
