


.number{
	background: orange;
	color: #fff;
	position: absolute;
	top:0;
	left: 0;
	padding: 8px 15px;
	border-radius: 0px 0px 5px 0px;
	font-size: 18px;
	font-weight: 700;
}

.login {
  background: url(../images/login_bg.png) no-repeat bottom center #fff;
  box-shadow: 5px 10px 13px #dcdcdc;
  border-radius: 15px;
  margin-top: 8%;
  padding: 50px;
  font-size: 14px; }
  .login .logo {
    text-align: center; }
    .login .logo img {
      height: 33px;
      margin-bottom: 30px; }
  .login .block {
    margin-top: 10px;
    margin-bottom: 5px; }
    .login .block input[type=text] {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      text-indent: 15px; }
    .login .block input[type=password] {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      text-indent: 15px; }
    .login .block span {
      color: #a3a3ff;
      text-align: right;
      display: block;
      float: right; }
    .login .block input[type=checkbox] {
      border: 1px solid #f3f3f3; }
    .login .block button {
      background: #a3a3ff;
      color: #fff;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      border: none;
      margin-top: 30px; }

      .options_outer_container{
	border: 2px solid orange;
	padding: 15px;
	border-radius: 5px;
	margin: 15px auto;
	position: relative;
}

/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf"); }
/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf"); }
/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf"); }
/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf"); }
/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf"); }
/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf"); }
/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf"); }
/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf"); }
/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf"); }
/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf"); }
/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf"); }
/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf"); }
/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf"); }
/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf"); }
/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf"); }
/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf"); }
/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf"); }
/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf"); }
/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf"); }
/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Bold.otf"); }
/** Bold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-BoldItalic.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("https://sf.abarba.me/SFMono-Heavy.otf"); }
/** Heavy Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf"); }
/** Light */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf"); }
/** Light Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf"); }
/** Medium */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("https://sf.abarba.me/SFMono-Medium.otf"); }
/** Medium Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-MediumItalic.otf"); }
/** Regular */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf"); }
/** Regular Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-RegularItalic.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf"); }
/** Semibold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf"); }
.screen {
  margin-top: 20px;
  box-shadow: 0px 0px 5px #ccc;
  background: #fff;
  padding: 0px 0px 30px 0px;
  color: #888282; }
  .screen h2 {
    font-weight: 700;
    margin: 15px 15px 0px 15px;
    color: #000; }
  .screen h4 {
    font-weight: 600;
    margin: 5px 15px;
    color: #000; }
  .screen p {
    margin: 15px;
    text-align: justify;
    color: #888282; }
  .screen ol {
    margin-left: -5px; }
    .screen ol li {
      line-height: 24px; }
  .screen ul {
    margin-left: -5px; }
    .screen ul li {
      line-height: 24px; }
  .screen .video {
    margin: 25px 0px; }
  .screen .image_post {
    margin: 10px 0px; }
  .screen .gif_post {
    margin: 10px 0px; }
  .screen .price {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 15px; }
  .screen .btn {
    width: 100%; }
    .screen .btn button {
      width: 100%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px; }
  .screen .checkbox {
    margin: 15px 15px 0px 15px; }
  .screen .btn {
    width: 100%;
    padding: 15px 15px 0px 15px; }
    .screen .btn button {
      width: 100%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px; }
  .screen .btn2 {
    width: 100%;
    padding: 15px; }
    .screen .btn2 button {
      width: 48%;
      float: right;
      border: none;
      background: #000;
      color: #fff;
      height: 40px;
      border-radius: 5px;
      margin: 1%; }
  .screen .table {
    margin: 25px 5%;
    width: 90%; }
    .screen .table th {
      background: #000;
      color: #fff;
      text-align: center; }
    .screen .table td {
      text-align: center; }
  .screen .author {
    padding: 15px; }
    .screen .author img {
      border-radius: 50%; }
    .screen .author h4 {
      padding: 0px;
      font-weight: 700;
      color: #000;
      font-size: 24px;
      margin: 10px 0px 0px 0px; }

body {
  background: url(../images/bg.png) center bottom no-repeat #f4f5f9;
  background-size: cover;
  color: #888888;
  font-family: "SF Display", sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px 0px 100px 0px;
  min-height: 100vh; }

a,
a:hover {
  text-decoration: none; }

.header {
  background: #ffffff;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px;
  z-index: 9999; }
  .header .logo {
    padding-top: 20px; }
  .header .logout {
    display: inline-block;
    float: right;
    margin-top: 25px; }
  .header .user_details {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    font-size: 14px; }
    .header .user_details span {
      font-size: 18px;
      font-weight: 700;
      display: block;
      margin-top: -5px; }
  .header .user {
    display: inline-block;
    float: right;
    margin-top: 12px;
    margin-right: 15px; }
    .header .user img {
      border-radius: 50%;
      box-shadow: 0px 2px 5px #eaeaea; }

.content {
  margin-top: 130px; }
  .content h5 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px; }

.home_card div {
  background: url(../images/card_bg.png) no-repeat top center #fcfbfb;
  background-size: contain;
  border-radius: 15px;
  box-shadow: 5px 10px 13px #cecdcd;
  text-align: center;
  transition: transform .2s;
  z-index: 9999; }
  .home_card div img {
    width: 160px;
    margin: 70px auto 0px auto; }
  .home_card div h5 {
    color: #000;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    padding: 40px 0px 30px 0px; }
.home_card div:hover {
  transform: scale(1.05);
  cursor: pointer; }

.main_block {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 13px #dcdcdc;
  padding: 25px 30px 40px 30px;
  position: relative;
  margin-bottom: 20px; }
  .main_block h4 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px; }
  .main_block .block {
    margin-top: 15px; }
    .main_block .block input[type=text] {
      height: 40px;
      width: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-indent: 14px; }
    .main_block .block textarea {
      height: 120px;
      min-height: 120px;
      max-height: 120px;
      width: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-indent: 14px; }
    .main_block .block button {
      background: #a3a3ff;
      color: #ffffff;
      float: right;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      min-width: 150px; }
    .main_block .block input[type=file] {
      width: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-indent: 14px;
      height: 40px;
      width: 85%;
      display: block;
      text-align: right;
      padding-top: 7px;
      padding-right: 15px; }
    .main_block .block span {
      width: 10%;
      height: auto;
      display: inline-block;
      float: right;
      margin-top: -10%; }
      .main_block .block span img {
        border-radius: 5px; }
    .main_block .block select {
      width: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-indent: 14px;
      height: 40px; }
    .main_block .block input[type=number] {
      width: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-indent: 14px;
      height: 40px; }
    .main_block .block label {
      padding-top: 10px;
      margin-left: 5px; }
    .main_block .block strong {
      color: #f44747;
      float: right; }
    .main_block .block .btn-group {
      width: 100%;
      margin-left: -5px;
      margin-top: 5px;
      height: 45px; }
    .main_block .block .btn-secondary:not(:disabled):not(.disabled).active,
    .main_block .block .btn-secondary:not(:disabled):not(.disabled):active,
    .main_block .block .show > .btn-secondary.dropdown-toggle {
      color: #fff;
      background-color: #a3a3ff;
      border-color: #a3a3ff; }
    .main_block .block .btn-secondary {
      color: #fff;
      background-color: #d8d8fa;
      border-color: #d8d8fa; }
  .main_block .close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -8px;
    top: -8px; }

.sidebar {
  margin-top: -25px;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 130px; }
  .sidebar button {
    background: #a3a3ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
    border: none;
    font-size: 16px;
    margin-bottom: 10px; }

.templates {
  margin-top: -25px;
  height: 100vh;
  position: absolute;
  right: 0; }

.footer_btn button {
  background: #a3a3ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  float: right;
  min-width: 100px;
  margin-left: 10px; }

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999; }
  .modal .modal-header h4 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px; }
  .modal .modal-body .img-tile div {
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 3px #ccc; }
    .modal .modal-body .img-tile div img {
      width: 100%;
      height: 20vh; }
  .modal .modal-body .img-tile div:hover {
    border: 2px solid #a3a3ff;
    cursor: pointer;
    background: #eee; }
  .modal .modal-body input[type=search] {
    width: 100%;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 14px; }
  .modal .modal-body .tag_row {
    margin: 5px 0px;
    background: #eaeaff;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    color: #6f6d6d;
    font-weight: 500; }
    .modal .modal-body .tag_row span {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #ff172d;
      padding: 5px 10px;
      border-radius: 50%;
      color: #ffffff;
      cursor: pointer;
      opacity: 0.7; }
    .modal .modal-body .tag_row span:hover {
      opacity: 1; }
  .modal .modal-footer button {
    background: #a3a3ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    float: right;
    min-width: 100px;
    margin-left: 10px; }

.img-tile {
  text-align: center; }
  .img-tile div {
    padding: 15px 15px;
    margin: 15px 0px;
    border: 1px solid #dcdcdc;
    position: relative; }
    .img-tile div img {
      width: 100%;
      height: 30vh; }
    .img-tile div span {
      width: 28px;
      height: 28px;
      position: absolute;
      top: -10px;
      right: -10px;
      opacity: 0.3; }
      .img-tile div span img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 2px red;
        border-radius: 50%; }
    .img-tile div span:hover {
      opacity: 1; }
    .img-tile div p {
      margin-top: 15px;
      margin-bottom: 0px; }
  .img-tile div:hover {
    border: 1px solid #a3a3ff;
    background: #dcdcdc;
    cursor: pointer; }

.img_upload {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 13px #dcdcdc;
  padding: 40px 30px 40px 30px;
  position: relative;
  margin-bottom: 20px; }
  .img_upload input[type=file] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 45px;
    padding: 10px; }
  .img_upload button {
    background: #a3a3ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    float: right;
    width: 100%;
    margin-left: 10px;
    margin-top: 7px; }

.select_div {
  border: 2px solid #a3a3ff;
  background: #eee;
  box-shadow: 0px 0px 3px #a3a3ff; }

.modal-content {
  border: none;
  box-shadow: 0px 0px 2px #dcdcdc; }

table {
  margin-top: 20px;
  border: 1px solid #eee;
  color: #7d7e80 !important;
  font-weight: 400; }
  table thead {
    background: #a3a3ff;
    color: #ffffff;
    text-align: left;
    font-size: 16px; }
    table thead th {
      padding: 10px; }
  table tbody td {
    padding: 15px; }

.search {
  margin-bottom: 15px; }
  .search input[type=search] {
    width: 100%;
    height: 45px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 14px;
    background: url(../images/search.png) no-repeat right center #fff; }

.program_tile div {
  border-radius: 15px;
  box-shadow: 5px 10px 13px #cecdcd;
  background: #ffffff;
  min-height: 250px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer; }

.create_new div {
  text-align: center;
  transition: transform .2s; }
  .create_new div img {
    width: 30%;
    margin-top: 35%; }
  .create_new div h3 {
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    padding-top: 20px;
    display: block; }

.create_new div:hover {
  background: #eee;
  transform: scale(1.1); }

.past_programs div {
  position: relative;
  background: url(../images/program.png) no-repeat center center;
  background-size: contain; }
  .past_programs div h4 {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    padding-top: 20px;
    display: block;
    margin-left: 15px; }
  .past_programs div span {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #000; }

.past_programs div:hover {
  background-color: #eee; }

.create_program {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 30px;
  border-radius: 10px; }
  .create_program label {
    margin-top: 10px;
    margin-bottom: 4px; }
  .create_program input[type=text] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 40px; }
  .create_program input[type=file] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 40px;
    padding-top: 7px; }
  .create_program select {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px; }
  .create_program span {
    border: 1px solid #dbdbdb;
    display: inline-block;
    background: #eee;
    margin-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle; }
  .create_program button {
    background: #a3a3ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    float: right;
    width: 120px;
    margin-left: 10px;
    margin-top: 20px; }

.program {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 30px;
  border-radius: 10px; }
  .program a {
    color: #888888;
    text-decoration: none; }
  .program span {
    display: inline-block;
    width: 40px;
    height: 50px;
    float: right;
    margin: 0px 10px 15px 10px;
    text-align: center; }
  .program label {
    display: block;
    font-size: 16px;
    color: #a3a3ff;
    font-weight: 500;
    margin-bottom: 20px; }
  .program .btn-warning:not(:disabled):not(.disabled).active,
  .program .btn-warning:not(:disabled):not(.disabled):active,
  .program .show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #a3a3ff;
    border-color: #a3a3ff; }
  .program .btn-warning {
    color: #fff;
    background-color: #c4c4f0;
    border-color: #cecefd; }
  .program button {
    background: #a3a3ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    float: left;
    width: 150px;
    margin-left: 0px;
    margin-top: 50px; }

.program_table {
  padding: 0px 0px 0px 0px;
  margin: 15px 0px;
  border-radius: 5px;
  width: 200%; }
  .program_table table {
    position: relative; }
    .program_table table thead th {
      text-align: center;
      background: #a3a3ff; }
    .program_table table td {
      padding: 5px 15px; }
      .program_table table td select {
        width: 200px;
        height: 40px;
        text-indent: 5px;
        border-radius: 4px;
        border: 1px solid #dbdbdb;
        margin-top: 15px; }
      .program_table table td textarea {
        width: 300px;
        min-height: 100px;
        border-radius: 4px;
        border: 1px solid #dbdbdb;
        padding: 5px; }
      .program_table table td button {
        width: 40px;
        height: 40px;
        border-radius: 20%;
        border: none;
        display: inline-block;
        margin: 5px 0px 5px 5px;
        color: #ffffff;
        float: right;
        padding: 5px;
        cursor: pointer;
        font-size: 18px; }
      .program_table table td .btn-success {
        background: #28a745; }
      .program_table table td .btn-info {
        background: #138496; }
      .program_table table td .btn-danger {
        background: #c82333; }
    .program_table table tr:nth-child(even) {
      background: #dbdbfb; }
    .program_table table tr:nth-child(odd) {
      background: rgba(255, 255, 255, 0.6); }

.content button {
  background: #a3a3ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  float: right;
  width: 150px;
  margin-right: 0px;
  margin-top: 10px; }

.quiz {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 10px; }
  .quiz h3 {
    color: #a3a3ff;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px; }
  .quiz .btn-group {
    width: 100%;
    margin-left: -5px;
    margin-top: 5px;
    height: 40px; }
  .quiz .btn-secondary:not(:disabled):not(.disabled).active,
  .quiz .btn-secondary:not(:disabled):not(.disabled):active,
  .quiz .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a3a3ff;
    border-color: #a3a3ff; }
  .quiz .btn-secondary {
    color: #fff;
    background-color: #d8d8fa;
    border-color: #d8d8fa; }
  .quiz input[type=file] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 40px;
    padding-top: 7px; }

.create_quiz button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px 3px 10px;
  float: right;
  margin: 5px 5px; }

.create_quiz_btn a, .create_quiz_btn a:hover {
  background: #a3a3ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 12px 15px;
  border: none;
  font-size: 16px;
  margin-bottom: 0px;
  float: left;
  width: 200px;
  margin-right: 0px;
  margin-top: 0px; }

.new_quiz {
  background: rgba(255, 255, 255, 0.8); }
  .new_quiz input[type=number], .new_quiz input[type=text] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 40px;
    padding-top: 0px; }
  .new_quiz input[type=file] {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 14px;
    height: 40px;
    padding-top: 8px;
    background: #fff; }
  .new_quiz .block {
    margin-bottom: 10px; }
  .new_quiz button {
    float: left; }

.quiz_table {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px; }
  .quiz_table h3 {
    color: #a3a3ff;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px; }
  .quiz_table button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
    float: right;
    margin: 5px 5px;
    width: 35px; }

.dataTables_wrapper select {
  height: 40px;
  border: 1px solid #dbdbdb;
  width: 100px; }
.dataTables_wrapper input[type=search] {
  height: 40px;
  border: 1px solid #dbdbdb;
  text-indent: 10px; }

/*# sourceMappingURL=styles.css.map */
